@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.color-palette-heading {
    text-align: center;
    font-size: 30px;
    height: 15vh;
    background-color: #fff;
    margin: 2px;
    border-radius: 10px;
    padding: 30px;
}

.box {
    padding: 10px;
}

.textbox{
    margin:10px
}
.heading{
 padding: 20px;
}
.color-name {
    color: white;
    font-size: 20px;
}
.container-background{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.input-data{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-card{
    background-color: white;
    margin-top: 30px;
}
.header-card{
    text-align: center;
}
#test{
    padding: 100px;
    
}
.graph{
    display: flex;
    justify-content: end;
    flex:0.6
}
.plotly-card{
    border-radius : 50px;
}
.group{
    display: flex;
    justify-content: space-around;
}
.length{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pointer_div {
    background-size: contain;
    background-repeat: no-repeat;
	width: 500px;
	height: 500px;
}
#cross {
	position: relative;
	visibility: hidden;
	z-index: 2;
	color: white;
	font-size: 14px;
}

.length{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#output{
    height: 200px;
    width: 200px;
    object-fit: cover;
}